/vendor

# All but the config library
lib/loft_php_lib/*
!lib/loft_php_lib/dist
lib/loft_php_lib/dist/vendor
lib/loft_php_lib/dist/*
!lib/loft_php_lib/dist/src
lib/loft_php_lib/dist/src/*
!lib/loft_php_lib/dist/src/AKlump
lib/loft_php_lib/dist/src/AKlump/*
!lib/loft_php_lib/dist/src/AKlump/LoftLib
lib/loft_php_lib/dist/src/AKlump/LoftLib/*
!lib/loft_php_lib/dist/src/AKlump/LoftLib/Component
lib/loft_php_lib/dist/src/AKlump/LoftLib/Component/*
!lib/loft_php_lib/dist/src/AKlump/LoftLib/Component/Config
/.idea/
